body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#main {
    flex: 1 0 auto;
}

nav i.material-icons {
    display: inline;
    font-size: 1rem;
}

nav .tabs .tab a {
    color: white;
}

nav .tabs .indicator {
    background-color: #fff59d;
}

#toast-container {
    top: inherit;
    bottom: 10%;

}

#toast a {
    text-transform: uppercase;
}

#grilleBieres a {
    width: 90%;
    padding: 25px;
    height: 100px;
    font-size: 3em;
}

footer.page-footer {
    margin-top: 0;
    padding-top: 0;

}
