<!DOCTYPE html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>10⁵</title>

    <!-- CSS  -->
    <link href="lib/material-design-icons/iconfont/material-icons.css" rel="stylesheet">
    <link href="lib/Materialize/dist/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <!-- Réutilisable -->
    <div id="modalErreur" class="modal">
        <div class="modal-content">
            <h4>{{ erreurTitre }}</h4>
            <p v-if="modalGeneriqueContenu">{{ erreurMessage }}</p>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect btn-flat">Ça marche</a>
        </div>
    </div>
    <ul id="menuUtilisateur" class="dropdown-content">
        <li><a>Se déconnecter</a></li>
        <li><a>Changer de mot de passe</a></li>
        <li><a>Changer de carte</a></li>
        <li class="prezSeul"><a>Gestion des utilisateurs</a></li>
    </ul>
    <div id="passerCarte" class="modal">
        <div class="modal-content">
            <h4>Passez la carte du client</h4>
            <p>Veuillez passer la carte du client concerné pour finaliser l'action suivante : <strong>recharger 10 €</strong>.</p>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-red btn-flat">Annuler</a>
        </div>
    </div>
    <div id="soldeInsuffisant" class="modal">
        <div class="modal-content">
            <h4>Solde insuffisant</h4>
            <p>
                Le solde de la carte <strong>QUAELUY1RO</strong> n'est pas suffisant pour effectuer un paiement de 3,50 €.<br/> Solde actuel : 2,70 €<br/> Manquant : 0,80 €<br/>
            </p>
        </div>
        <div class="modal-footer">
            <a href="#rechargement" class="modal-action modal-close waves-effect waves-green btn-flat">Recharger</a>
            <a class="modal-action modal-close waves-effect waves-red btn-flat">Annuler</a>
        </div>
    </div>

    <!-- Page -->
    <nav class="red" role="navigation">
        <div class="nav-wrapper container">
            <a class="brand-logo" v-if="page == 'connexion'">10⁵</a>
            <div class="left" v-else>
                <a class="breadcrumb">10⁵</a>
                <a class="breadcrumb" v-if="page == 'operations'">Opérations</a>
            </div>
            <ul class="right hide-on-med-and-down">
                <li v-if="connecte">
                    <a class="dropdown-button" data-activates="menuUtilisateur">
                        <i class="material-icons">perm_identity</i> {{ login }} (<i class="material-icons">timer</i> {{ timer }})
                    </a>
                </li>
            </ul>
            <ul class="side-nav">
                <li><a>TODO</a></li>
            </ul>
        </div>
        <div class="col s12 red" v-show="page == 'operations'">
            <ul class="tabs red">
                <li class="tab col s3"><a href="#creation">Création</a></li>
                <li class="tab col s3"><a href="#rechargement">Rechargement</a></li>
                <li class="tab col s3"><a class="active" href="#paiement">Paiement</a></li>
                <li class="tab col s3"><a href="#vidange">Vidange</a></li>
            </ul>
        </div>
    </nav>

    <div class="section no-pad-bot" id="main">
        <br><br><br>
        <div class="container" v-show="page == 'connexion'">
            <h4>Se connecter</h4>
            <h5>Avec votre identifiant et votre mot de passe</h5>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="login" v-model="login">
                            <label for="login">Identifiant</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="password" name="mdp" v-model="mdp">
                            <label for="mdp">Mot de passe</label>
                        </div>
                    </div>
                    <div class="row">
                        <a class="btn-large waves-effect waves-light disabled" @click="connecter" :class="{'disabled': !peutConnecter}">Se connecter</a>
                    </div>
                </form>
            </div>
            <div v-if="peutNFC">
                <h5>Avec votre carte étudiant</h5>
                <p>Passez-la simplement devant le lecteur</p>
            </div>
        </div>

        <div class="container" v-show="page == 'operations'">
            <div class="row center">
                <div id="creation">
                    <h5>Créer un nouveau client</h5>
                    <div class="row">
                        <form class="col s12">
                            <div class="input-field col s12">
                                <input type="number" name="solde">
                                <label for="solde">Solde initial (€)</label>
                            </div>
                            <div class="row center">
                                <a class="btn-large waves-effect waves-light">Créer</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="rechargement">
                    <h5>Recharger un client</h5>
                    <div class="row">
                        <form class="col s12">
                            <div class="input-field col s12">
                                <input type="number" name="credit">
                                <label for="credit">Crédit (€)</label>
                            </div>
                            <div class="row center">
                                <a class="btn-large waves-effect waves-light btn modal-trigger">Recharger</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="paiement">
                    <h5>Vendre à un client</h5>
                    <div class="row">
                        <form class="col s12">
                            <div id="grilleBieres">
                                <div class="row">
                                    <div class="col s4"><a class="waves-effect waves-light btn">1</a></div>
                                    <div class="col s4"><a class="waves-effect waves-light btn">2</a></div>
                                    <div class="col s4"><a class="waves-effect waves-light btn">3</a></div>
                                </div>
                                <div class="row">
                                    <div class="col s4"><a class="waves-effect waves-light btn">4</a></div>
                                    <div class="col s4"><a class="waves-effect waves-light btn">5</a></div>
                                    <div class="col s4"><a class="waves-effect waves-light btn">6</a></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="number" name="prix">
                                    <label for="prix">Prix (€)</label>
                                </div>
                            </div>
                            <div class="row center">
                                <a class="btn-large waves-effect waves-light">Payer</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="vidange">
                    <h5>Vider le contenu de la carte d'un client</h5>
                    <div class="row center">
                        <a class="btn-large waves-effect waves-light">Vider</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer red">
        <div class="footer-copyright">
            <div class="container">
                10p5 v0.0.0 - © Copyright 2016, <a href="http://clubinfo.plil.net">Le Club Info Polytech Lille</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/Materialize/dist/js/materialize.min.js"></script>
    <script src="lib/vue/dist/vue.min.js"></script>
    <script src="js/init.js"></script>

</body>

</html>
