<!DOCTYPE html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>10⁵</title>

    <!-- CSS  -->
    <link href="lib/material-design-icons/iconfont/material-icons.css" rel="stylesheet">
    <link href="lib/Materialize/dist/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <!-- Réutilisable -->
    <div id="modalErreur" class="modal">
        <div class="modal-content">
            <h4>{{ erreurTitre }}</h4>
            <p v-if="modalGeneriqueContenu">{{ erreurMessage }}</p>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect btn-flat">Ça marche</a>
        </div>
    </div>
    <!-- Page -->
    <nav class="red" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">{{ nomApplication }}</a>
            <ul class="right hide-on-med-and-down">
                <li v-if="connecte">
                    <a class="dropdown-button" href="#!" data-activates="menuUtilisateur">
                        <i class="material-icons">perm_identity</i> {{ login }} (<i class="material-icons">timer</i> {{ timer }})
                    </a>
                </li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">TODO</a></li>
            </ul>
        </div>
    </nav>

    <div class="section no-pad-bot" id="main">
        <div class="container">
            <br><br><br>
            <h4>Se connecter</h4>
            <h5>Avec votre identifiant et votre mot de passe</h5>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="login" v-model="login">
                            <label for="login">Identifiant</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="password" name="mdp" v-model="mdp">
                            <label for="mdp">Mot de passe</label>
                        </div>
                    </div>
                    <div class="row">
                        <a href="#!" class="btn-large waves-effect waves-light disabled" @click="connecter" :class="{'disabled': !peutConnecter}">Se connecter</a>
                    </div>
                </form>
            </div>
            <div v-if="peutNFC">
                <h5>Avec votre carte étudiant</h5>
                <p>Passez-la simplement devant le lecteur</p>
            </div>
        </div>
    </div>
    </div>
    <footer class="page-footer red">
        <div class="footer-copyright">
            <div class="container">
                10p5 v0.0.0 - © Copyright 2016, <a href="http://clubinfo.plil.net">Le Club Info Polytech Lille</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/Materialize/dist/js/materialize.min.js"></script>
    <script src="lib/vue/dist/vue.min.js"></script>
    <script src="js/init.js"></script>

</body>

</html>
