# Permet de rediriger api/blabla vers api/blabla.php

Options +FollowSymLinks -MultiViews

ErrorDocument 401 '{"status":"non_authentifie"}\n'
ErrorDocument 403 '{"status":"acces_refuse"}\n'
ErrorDocument 404 '{"status":"requete_inconnue"}\n'
ErrorDocument 500 '{"status":"erreur_interne"}\n'
ErrorDocument 503 '{"status":"service_indisponible"}\n'

RewriteEngine On
RewriteBase /api/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]
